html{
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(255, 245, 233);
    padding: 0 5rem;
} 
*{
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
}
.blog-post h1, h2{
    font-size: 1.5rem;
}

.blog-preview{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.blog-preview-container{
    display: flex;
}

.blog-post{
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: white;
}